@page "/"
@using System.Text.Json

<PageTitle>Spooky Llama</PageTitle>

<h1>Spooky Llama</h1>

<p>Welcome to Spooky Llama!</p>

<input type="text" @bind-value="@Prompt" />
<button onclick="@GenerateAndPlay">Generate</button>

<audio controls>
    <source src="@CurrentAudioUrl" />
</audio>

@code {
    public string Prompt { get; set; } = "Tell me a spooky story";
    public string CurrentAudioUrl { get; set; } = string.Empty;
    public List<string> AudioUrls { get; set; } = [];

    private async Task GenerateAndPlay()
    {
        var httpClient = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Post, "https://localhost:7233/api/spookyllama");
        var content = new StringContent(
            $"{{\"prompt\": \"{Prompt}\", \"context\":[]}}", // TODO: Make Context not be an empty array
            null,
            "application/json");
        request.Content = content;

        // Send the request and get the response
        var response = await httpClient.SendAsync(request);
        response.EnsureSuccessStatusCode();

        var responseBody = await response.Content.ReadAsStringAsync();
        AudioUrls.AddRange(JsonSerializer.Deserialize<string[]>(responseBody) ?? []);

        CurrentAudioUrl = AudioUrls.LastOrDefault() ?? string.Empty;

        StateHasChanged();
    }
}